<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <!--
    !!! WARNING !!!
    YOU SHOULD NEVER USE THIS EXAMPLE CODE IN A PRODUCTION ENVIRONMENT!

    Modifying variables on a machine which is in production HAS RESULTED IN MACHINE
    CRASHES AND PROPERTY DAMAGE, AND COULD RESULT IN PERSONAL INJURY OR EVEN DEATH!

    This example does not include any transport security, message security, authentication, 
    or authorization of clients.It is configured to operate only on the local machine. 

    IF you decide to MODIFY this example to operate over a network connection, compile and
    deploy any part of this code in a production environment, YOU ACCEPT ALL RESPONSIBILTY 
    for the outcome, however detrimental, and AGREE that OKUMA CANNOT BE HELD LIABLE 
    for your poor judgment and failure to heed this warning.
    -->
    
    <client>
      <endpoint name="" address="http://localhost:8000/servicemodelsamples/service" binding="wsHttpBinding" contract="Okuma.THINC_WCF_ServiceModel.Samples.ICommonVariables">
      </endpoint>
    </client>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>