<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyToolData" version="1.5.0.19" targetFramework="net40" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net40" />
  <package id="Okuma.Scout" version="4.12.38" targetFramework="net40" />
  <package id="TDG.logging" version="4.22.0" targetFramework="net40" />
</packages>